:root {
  --color-White: rgb(255, 255, 255);
  --color-Graphite: rgb(70, 69, 71);
  --color-Green: rgb(134, 244, 66);
  --color-DarkGreen: rgb(73, 136, 0);
  --color-Pink: rgb(249, 38, 114);

  --color-ThemeMain: var(--color-Pink);
  --color-Text: var(--color-Graphite);
  --color-FooterText: var(--color-Graphite);
  --color-Info: var(--color-DarkGreen);
}
